* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: url(https://thesunnahsolutions.com/wp-content/uploads/2015/12/bigstock-white-wood-texture-background-50738852-kopie.jpg);
}


.panel-body{
    display: block;
    margin: 0 auto;
    width: 67%;
    height: 100vh;
    background-color: white;
}

/*Header logo*/
#logo {
    display: inline-block;   
    margin-left: 40px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-style: double;
    border: 1px solid #848484;
    padding: 2px;
}

#firmname {
    display: inline-block;
    padding: 2px;
    margin-top: 3vh;
    margin-bottom: -2vh;
    border-style: double;
}

/*NavBar*/
nav{
    display: block;
    border-top: 2px solid #848484;
    border-bottom: 2px solid #848484;
    width: 100%;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}

ul{
    position: relative;
    color: lightgray;
}
.nav-link{
    font-family: Helvetica, sans-serif;
    margin: -6px 15px;
    color: black;
    font-size: 85%;
   
}

/*Footer*/
.foot{
    text-align: center;
    border-top: 2px solid black;
    /* position: fixed; */
    margin-left: 20px;
    bottom: 0;
    width: 90%;
    padding: 20px 0 15px 0;
}
.footerElem>div>a>p{
    display: inline;
    text-align: center;
    /* padding: 10px 0 5x 0; */
    font-size: 80%;
}

.foot-link{
    color: grey;
    text-decoration: none;
}


#copyright{
    font-size: small;
}

/*This is the end of the common elements styling*/

/*All bordered placeholder images*/
#mainpic{
    border-style: double;
    padding: 2px;
    border-color: #848484;
    float: left;
}

/*Mainpage*/
.mainpic{
    margin-left: 20px;
    margin-bottom: 25px;
}

#welcomemsg {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 40px;
}

#welcometxt{
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
}

textarea {
    display: block;
    background-color: maroon;
    color: white;
    text-align: left;
    margin-left: 10px;
    padding-right: 40px;
    width: 85%;
    height: 325px;
}

address {
    display: block;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    font-size: small;
    color: black;

}
address::first-line {
    font-weight: bold;
}

.email{
    text-decoration: none;
    color: #800000;
}

/*Who we are and what we do pages*/

.col-md-4{
    padding-right: 0px;
}

.leftcolumn{ 
    text-align: left;
    width: 110%;
    margin-top:15px;
    margin-left: 20px;
    padding: 20px 10px;
    background-color: #800000;
    color: white;
    font-size: 12px;
}

#columnhead{
    margin-bottom: 10px;
}
.list{
    margin-bottom: 5px;
}


.widecolumn{
    font-size: 14px;
    text-align: left;
    margin: 10px 25px;
    margin-right: 50px;
}


#lowertxt{
    font-size: 11px;
    margin-bottom: -2px;
}
