    <!--Footer-->
    <div class="col-md-12">
        <footer class="foot">
            <div class="footerElem">
                <div class="center-span">
                    <address>
                        Lauren, Aaron & Jack<br>
                        222 W Ontario, #450<br>
                        Chicago, IL 60654<br>
                        312-322-0000 phone<br>
                        312-233-0000 fax<br>
                        <a class="email" href="mailto:webmaster@example.com">email@email.com</a>
                    </address>
                </div>
                <!--Make color grey-->
                <p id="copyright">&copy;2020 Lauren, Aaron, Jack, Celeste and Jackie // Website Design by The Bob Marley's</p>
            </div>
        </footer>             
    </div>