{% extends 'base.html' %}
{% block content %}
<!--Header-->
<div class="panel-body">
    <div class="panel-heading">
        <div class=“container”>
            <div class=“row”>
                <img src="https://via.placeholder.com/80x80" alt="Website Logo" id="logo">
                <img src="https://via.placeholder.com/190x55" alt="Firm Name" id="firmname">
                <!--Left col-->
                <!--Main photo-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <img class="mainpic" src="https://via.placeholder.com/550x350" alt="Forest Path"
                                id="mainpic">
                            <!--<h2>FORWARD THINKING</h2>-->
                        </div>
                        <!--News feed-->
                        <div class="col-md-4">
                            <textarea cols="22" rows="10"> NEWS FEED __________________ 

 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </textarea>
                        </div>
                    </div>
                </div>
                <!--Welcome message-->
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <p id="welcomemsg">Welcome to our website!</p>
                            <p id="welcometxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem
                                ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum molestiae dolor aperiam
                                non! </p>
                        </div>
                    </div>
                    <!--Adress-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}