{% extends 'base.html' %}
{% block content %}
<title>NZA: What We Do</title>

    <div class="panel-body">
            <div class="panel-heading">
                <div class=“container”>
                    <div class=“row”>
                        <div class=“col”>
                            <div>
                                <img src="https://via.placeholder.com/80x80" alt="Website Logo" id="logo">
                                <img src="https://via.placeholder.com/190x55" alt="Firm Name" id="firmname">
        </div> <div class="container" class="center">
            <div class="row">
                <div class="col-md-3">
                    <div class="leftcolumn">
                        <p id="columnhead">WHAT WE DO</p>
                        <p> ______________________
                        </p>
                        <!-- <p class="columntext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi dicta
                            possimus et suscipit cum vero
                            recusandae nulla sapiente voluptas totam iure quae laborum expedita, aliquid, dolore facilis
                            fugit!
                            Delectus, quae.</p> -->
                            <dl>
                                <dt>Subpropagation</dt>
                                <dd>&nbsp; Property</dd>
                                <dd>&nbsp; Workers Compensation</dd>
                                <br>
                                <dt>Litigation</dt>
                                <dd>&nbsp; Appellate</dd>
                                <dd>&nbsp; Commercial</dd>
                                <dd>&nbsp; Defense</dd>
                                <dd>&nbsp; Labor/Employment</dd>
                            </dl>
                        <img src="https://via.placeholder.com/140x80" alt="column placeholder">
                        <div>
                            <p id="lowertxt"><b>Developers</b></p>
                            <p id="lowertxt">Meet our (someday) prestigious and esteemed coding team.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="widecolumn">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquam sapiente quia maiores
                            dicta! Sapiente voluptates autem quo hic rem mollitia labore quidem modi ratione, ea itaque
                            voluptatum, nostrum voluptate? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam similique velit, quibusdam quos ex placeat ipsa quam eaque modi obcaecati nesciunt pariatur illum, illo fugit et.
                        </p>                    
                        <div>
                            <img src="https://via.placeholder.com/255x92" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/255x92" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/255x92" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/255x92" alt="placeholder" id="mainpic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

    </div>

{% endblock content %}