{% extends 'base.html' %}
{% block content %}

    <!--Logo-->
    <div class="panel-body">
        <!--Header-->
        <div class="panel-heading">
            <div class=“container”>
                <div class=“row”>
                    <div class=“col”>
                        <div>
                            <img src="https://via.placeholder.com/80x80" alt="Website Logo" id="logo">
                            <img src="https://via.placeholder.com/190x55" alt="Firm Name" id="firmname">

        <!--Left Side Column-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="leftcolumn">
                        <p id="columnhead">WHO WE ARE</p>
                        <p>  _________________________
                        </p>
                        <p class="list">Completed</p>
                        <p class="list">By:</p>
                        <p class="list">Lauren</p>
                        <p class="list">Aaron</p>
                        <p>Jack</p>
                        <img src="https://via.placeholder.com/150x75" alt="column placeholder">
                        <p id="lowertxt"><b>Where We Work</b></p>
                        <p id="lowertxt">Find out more about our work coverage area.</p>
                    </div>
                </div>

                <!--Right Column Text-->
                <div class="col-md-9">
                    <div class="widecolumn">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquam sapiente quia maioresdicta! Sapiente voluptates autem quo hic rem mollitia labore quidem modi ratione, ea itaque voluptatum, nostrum voluptate? Lorem ipsum dolor sit, amet consectetur adipisicing elit.Vero aliquam sapiente quia maioresdicta! Sapiente voluptates autem quo
                        </p>
                        <div>
                            <img src="https://via.placeholder.com/265x95" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/265x95" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/265x95" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/265x95" alt="placeholder" id="mainpic">
                            <img src="https://via.placeholder.com/265x95" alt="placeholder" id="mainpic"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

    </div>



{% endblock content %}